{% section 'collection-header' %}

<div id="CollectionAjaxResult" class="collection-content">
  <div id="CollectionAjaxContent">
    <div class="page-width">
      <div class="grid">
        <div class="grid__item medium-up--one-fifth grid__item--sidebar">
          {% section 'collection-sidebar' %}
        </div>
        <div class="grid__item medium-up--four-fifths grid__item--content">
          {% section 'collection-promotions' %}
          <div class="collection-grid__wrapper">
            {% section 'collection-template' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "CollectionPage",
  {% if collection.description != blank %}
    "description": {{ collection.description | strip_html | json }},
  {% endif %}
  {% if page_image %}
    {% assign image_size = page_image.width | append: 'x' %}
    "image": {
      "@type": "ImageObject",
      "height": {{ page_image.height | json }},
      "url": {{ page_image | img_url: image_size | prepend: "https:" | json }},
      "width": {{ page_image.width | json }}
    },
  {% endif %}
  "name": {{ collection.title | json }}
}
</script>
